/*  your css code here. If applicable */
.container{
	display:flex;
	justify-content:center;
	text-align:center;
	align-item:center;
	border:2px solid black;
	background-color:lightgray;
	width:500px;
	margin:50px;
	padding:10px;
	border-radius:40px;

}
.green{
	background-color:Green;
	border:1px solid green;
	width:10px;
	border-radius:50%;
	padding:10%;
	margin:10px;
}
.yellow{
	background-color:Yellow;
	border:1px solid yellow;
	width:10px;
	border-radius:50%;
	padding:10%;
	margin:10px;
	
}
.red{
	background-color:Red;
	border:1px solid Red;
	width:10px;
	border-radius:50%;
	padding:10%;
	margin:10px;
	
}

